
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Poppins', sans-serif;
}
.BANNER{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(./donate-today-main/images/donation9.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 700px;

}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
}
.content h1{
    color: white;
    font-size: 60px;
}
.content p{
    color: rgba(255,255,255, 0.8);
    margin: 0.7rem
    
}
.Donate-btn{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(rgb(17, 231, 231),rgba(15, 181, 187, 0.733));
    border: 2px solid wheat;
    border-radius: 5px;

}

.Donate-btn a{
    text-decoration: none;
    color: white;
    
}
.Donate-Amount{
    margin-top: 10px;
    text-align: center;
}
.Donet-Amount-content h1{
    font-size: 60px;
}
.Donet-Amount-content p{
    color: rgb(187, 183, 183);
    margin-top: 5px;
}
.Donet-Amount-content ol li{
    display: inline-block;
    margin: 1rem;
    padding: 20px;
    box-shadow: 10px 10px 40px grey;
    font-size: 50px;
    
}
.Donet-Amount-content ol li span{
    border: 2px solid tomato;
    color: tomato;

}
.Donet-Amount-content .other-amount{
    width: 200px;
    height: 50px;
}
.Donet-Amount-content button{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(rgb(17, 231, 231),rgba(15, 181, 187, 0.733));
    border: 2px solid wheat;
    border-radius: 5px;
}
.Donet-Amount-content button a{
    text-decoration: none;
    color: white;
}
.flex-content{
    display: flex;
    margin-left: 100px;
}
.Contribute-content{
    width: 50%;
    padding-left: 2px;
    margin-bottom: 1rem;
}
.Contribute-content img{
    width: 80%;
}
.Contribute{
    margin-top: 70px;
}
.contribute1{
    margin-bottom: 10px;
    width: 80%;
}
.contribute1 h1{
    font-size: 60px;
}
.contribute1 p{
    color: rgba(168, 167, 167, 0.8);
    text-align: justify;
}
.contribute1 button{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(rgb(17, 231, 231),rgba(15, 181, 187, 0.733));
    border: 2px solid wheat;
    border-radius: 5px;
    margin-top: 10px;
}
.contribute1 button a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: rgb(49, 45, 45);
    text-align: center;
    padding: 25px;
}
footer h1{
    font-size: 30px;
    color: rgb(17, 231, 231);

}
footer p{
    color: white ;
}
.Our-works{
    display: flex;
    width: 80%;
    margin: 5%;
}
.Our-works1{
    width: 60%;
    background-color: rgb(138, 138, 224);
    text-align: justify;
    margin-right: 2rem;
    padding: 20px;
    border-radius: 5px;
}
.Our-works1 h3{
    color: white;
    font-size: 25px;
}
.Our-works1 p{
    color: #ddd;
}

.Our-works2{
    width: 60%;
    background-color: rgb(106, 180, 230);
    text-align: justify;
    margin-right: 2rem;
    padding: 20px;
    border-radius: 5px;
}
.Our-works2 h3{
    color: white;
    font-size: 25px;
}
.Our-works2 p{
    color: #ddd;
}
.Our-works3{
    width: 60%;
    background-color: rgb(157, 206, 207);
    text-align: justify;
    margin-right: 2rem;
    padding: 20px;
    border-radius: 5px;
}
.Our-works3 h3{
    color: white;
    font-size: 25px;
}
.Our-works3 p{
    color: #ddd;
}
.Our-Donate-Plan{
    text-align: center;
    margin-top: 2rem;
}
.Our-Donate-Plan h1{
    font-size: 60px;
}
.Our-Donate-Plan1 p{
    color: rgb(160, 158, 158);
}
.subscription{
    text-align: center;
    margin: 5%;
}
.subscription div h1{
    font-size: 60px;
    margin-bottom: 1rem;

}
.subscription div p{
    color: rgb(175, 170, 170);
    margin-bottom: 1rem;
}
.Subscriptionform{
    background-color: bisque;
    width: 70%;
    margin-left: 15%;
    padding: 4rem;
    border-radius: 5px;
}
.Subscriptionform-button{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(rgb(17, 231, 231),rgba(15, 181, 187, 0.733));
    border: 2px solid wheat;
    border-radius: 5px;
}
.Subscriptionform-button a{
    color: white;
    text-decoration: none;
}
.subscription span input {
    width: 250px;
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 5px;
}